{% extends 'bootstrap/loginLayout.html' %}
{% block content %}
  <form class="form-signin" method="post" name="login">
    {% csrf_token %}
    <div class="form-label-group">
        <span class="username-text"> Username</span>
        <br />
        <input type="text" class=" form-control " placeholder="Username" name="username" >
    </div>

    <div class="form-label-group">
        <span class="username-text">Password</span>
            <br />
        <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
      {% for message in messages %}
      <span class="error">
    {{message}}
          </span>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block text-uppercase"
            type="submit" value="Login">Log In</button>
  </form>
  <div class="reg">
  <button class="btn btn-lg btn-block btn-primary"
            type="button" value="Register"><a href="/register" >Register</a></button>
          </div>
{% endblock %}