{%extends 'ScaffoldApp/layout.html' %}
{% block content %}

<div class="container my-container text-center">
    <form method="post" name="AddProduct">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <h1>Add Product</h1>
                </td>
            </tr>
            <tr>
                <td><b> Product Name:</b></td>
                <td>{{form.productName}}</td>
            </tr>
            <tr>
                <td><b> Product Material Item Code:</b></td>
                <td>{{form.productMaterialItemCode}}</td>
            </tr>
            <tr>
                <td><b>Product Brand-New Selling Rate:</b></td>
                <td>{{form.productBrandNewSellingRate}}</td>
            </tr>
            <tr>
                <td><b>Product Second-Hand Selling Rate:</b></td>
                <td>{{form.productSecondHandSellingRate}}</td>
            </tr>
            <tr>
                <td><b> Product Loss Rate</b></td>
                <td>{{form.productLossRate}}:</td>
            </tr>
            <tr>
                <td><b> Product Repair Rate:</b></td>
                <td>{{form.productRepairRate}}</td>
            </tr>
            <tr>
                <td><b> Product Daily  Rental Rate:</b></td>
                <td>{{form.productDailyRentalRate}}</td>
            </tr>
            <tr>
                <td><b>Product Weekly Rentel Rate:</b></td>
                <td>{{form.productWeekyRentalRate}}</td>
            </tr>
            <tr>
                <td><b>Product Monthly Rentel Rate:</b></td>
                <td>{{form.productMonthlyRentalRate}}</td>
            </tr>
            <tr>
                <td><b>Product Daily Hire Charge:</b></td>
                <td>{{form.productDailyHireCharge}}</td>
            </tr>
            <tr>
                <td><b>Product Weekly Hire Charge:</b></td>
                <td>{{form.productWeekyHireCharge}}</td>
            </tr>
            <tr>
                <td><b>Product Monthly Hire Charge:</b></td>
                <td>{{form.productMonthlyHireCharge}}</td>
            </tr>
            <tr>
                <td><b>Product Recorded BY:</b></td>
                <td>{{form.productRecordedBy}}</td>
            </tr>
            <tr>
                <td><b>Supplier Name:</b></td>
                <td>{{form.supplierName}}</td>
            </tr>
            <tr>
                <td><b>Remarks:</b></td>
                <td>{{form.remarks}}</td>
            </tr>
            <tr>
                <td><b>Stocks:</b></td>
                <td>{{form.stock}}</td>
            </tr>
            <tr>
                <td align="center"><input type="submit" name="submit" value="Add"></td>
                <td align="center"><input type="reset" name="reset" value="Reset"></td>
            </tr>
        </table>
    </form>
 </div>





{% endblock %}