{% extends 'ScaffoldApp/layout.html'%}
{% block content %}
<div class="container my-container text-center">
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Quotation ID</th>
                    <th>TimeStamp</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                                                            
            </tbody>
        </table>
    </div>
    <input type="button" value="Home" onclick="location='/home'" />
</div>
{% endblock %}